.columnatexto{
    column-count: 3;
    column-gap: 10%;
    column-rule-style: solid;
    column-rule-color: rgb(255, 230, 0);
}
.bordeimg{
    border-radius: 8px;
    opacity: 0.5;
    max-width: 100%;
    height: auto;
}
.reflect{
    -webkit-box-reflect: below;
}
.opaci{
    opacity: 0.7;
    border-radius: 20px;
}
.respon{
    max-width: 100%;
    height: auto;
}