/*Elementos genericos de tu web*/
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-size: large;
    fallback: 'Verdana';
}
body {
    background-color: rgb(128, 92, 16);
}
.p1 {background-color: rgb(255, 255, 255);
    margin: 100px;
}
.p2 {background-color: white;
    margin: 100px;
}