/*Clases y ID posicion elementos pagina*/
.texto{
    text-align: center;
}
.textocentrado{
    text-align: center;
    text-shadow: 2px 2px 5px;
}
.Sangria{
    text-indent: 50px;
}
.h3{
    text-align: center;
    color: black;
    font-family:Georgia, serif;
    font-size: 200%;
}
form{
    text-align: center;
    background-color:#A7C0BD ;
    margin-right: 5%;
    white-space: pre-line;   
}